# Java Role - Install Java for Amazon Linux 2023

- name: Install Java 17 (Amazon Corretto)
  dnf:
    name:
      - java-17-amazon-corretto
      - java-17-amazon-corretto-devel
    state: present
  tags:
    - java
    - install

- name: Set JAVA_HOME environment variable
  lineinfile:
    path: /etc/environment
    line: 'JAVA_HOME=/usr/lib/jvm/java-17-amazon-corretto'
    create: yes
  tags:
    - java
    - config

- name: Verify Java installation
  command: java -version
  register: java_version
  changed_when: false
  tags:
    - java
    - verify

- name: Display Java version
  debug:
    msg: "Java version installed: {{ java_version.stderr }}"
  tags:
    - java
    - verify
