---
plugin: aws_ec2

regions:
  - us-east-1

filters:
  tag:Name: clouddevops-jenkins-server
  tag:Project: clouddevops
  instance-state-name: running

hostnames:
  - ip-address

keyed_groups:
  - key: tags.Name
    prefix: tag
    separator: "_"
  - key: tags.Service
    prefix: service
    separator: "_"
  - key: tags.Project
    prefix: project
    separator: "_"

compose:
  ansible_host: public_ip_address
  ansible_user: ec2-user
  ansible_ssh_private_key_file: "~/.ssh/clouddevops-key.pem"
  instance_id: instance_id
  instance_type: instance_type
  availability_zone: placement.availability_zone

cache: True
cache_plugin: jsonfile
cache_timeout: 300
cache_connection: /tmp/aws_inventory_cache

