---
# Common Role - Install basic packages and configure system

- name: Update all packages
  yum:
    name: '*'
    state: latest
    update_cache: yes
  tags:
    - common
    - updates

- name: Install EPEL repository
  yum:
    name: 
      - epel-release
    state: present
  tags:
    - common
    - repos

- name: Install common packages
  yum:
    name:
      - git
      - wget
      - curl
      - vim
      - nano
      - unzip
      - tar
      - bash-completion
      - net-tools
      - bind-utils
      - telnet
      - python3
      - python3-pip
    state: present
  tags:
    - common
    - packages

- name: Install Python packages
  pip:
    name:
      - boto3
      - botocore
    state: present
  tags:
    - common
    - python

- name: Set timezone to UTC
  timezone:
    name: UTC
  tags:
    - common
    - config

- name: Disable SELinux (for Jenkins)
  selinux:
    state: disabled
  when: ansible_selinux.status == "enabled"
  tags:
    - common
    - security

- name: Configure system limits
  pam_limits:
    domain: '*'
    limit_type: '-'
    limit_item: "{{ item.limit_item }}"
    value: "{{ item.value }}"
  loop:
    - { limit_item: 'nofile', value: '65536' }
    - { limit_item: 'nproc', value: '65536' }
  tags:
    - common
    - limits

- name: Create directory for scripts
  file:
    path: /opt/scripts
    state: directory
    mode: '0755'
  tags:
    - common
    - directories
